#footer .uk-container-center .uk-grid [class*=uk-width]{
  background-color: #f5f5f5;
  padding: 0.5em;
}

#footer .uk-container-center .uk-grid [class*=uk-width] p{
  padding-left: 10em;
  text-align: left;
}
#footer .uk-container-center .uk-grid [class*=uk-width] button{
  color: white;
  border-radius: 0.5em;
  background-color: orange;
  margin-top: 0.5em;

  }
#footer .uk-container-center .uk-grid [class*=uk-width] input{
width: 10.5em;
height: 1.5em;
margin-right: 1.5em;

}

#footer .uk-container-center .uk-grid [class*=uk-panel] h2{
  color: orange;
  font-weight:bold;
  font-size: 1.8em;
}
#footer .uk-container-center .uk-grid [class*=uk-width] li{
margin-top: 0.1em;
}

#fn {
  background-color: #f5f5f5;
  padding: 2em;
}

